.container {
  background-color: white;

  position: relative;
  padding: 0 0.938rem;
}

.imgone {
  background-size: cover;
  position: relative;
  width: 100%;
  height: 92vh;
  border-radius: 10px;
}

.background {
  background-size: cover;
  position: relative;
  width: 100%;
  height: 95vh;
}

.introContainer {
  margin-top: 25vh;
  width: 100%;
  height: 500px;
}

.title {
  padding-top: 5vh;
  font-size: 3.625rem;
  line-height: 3.8rem;
  letter-spacing: -0.125rem;
}
.title span {
  margin-left: 1rem;
  color: #a7a7a7;
}
.introText {
  font-family: "Pretendard-Regular";
  font-size: 1.25rem;
  line-height: 1.925rem;
  margin-bottom: 2rem;
}
.introBox-right {
  word-break: break-all;
}
.imagethree {
  display: flex;
  margin-top: 4rem;
  justify-content: space-around;
}
.imagethree-content {
  background-size: cover;
  position: relative;
  width: 25rem;
  height: 20rem;
}
@media only screen and (min-width: 47.5em) {
  .introBox-left {
    width: 50%;
    padding: 0 2rem;
  }
  .introBox-right {
    word-break: break-all;
    width: 50%;
    padding: 0 2rem;
  }
  .introContainer {
    display: flex;
    justify-content: center;
    margin-top: 25vh;
    width: 100%;
    height: 500px;
  }
}

.introBox-right p {
  margin-top: 4rem;
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff")
    format("woff");
  font-weight: 600;
  font-style: normal;
}
